/* Index Page */
body {
  background: white;
  line-height: 1.4em;
}
header {
  box-sizing: border-box;
}
#page-1 {
  text-emphasis-color: black;
  text-justify: auto;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px;
  border-style: solid;
  border-color: black;
} */
#logo {
}
.age {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 1em;
  margin-right: 1em;
}

#major {
  border: 1px;
  border-style: solid;
  border-color: black;
  width: 40%;
  float: left;
}
#stage {
  border: 1px;
  border-style: solid;
  border-color: black;
  width: 40%;
  float: right;
}

/* #foot {
  border: 1px solid black;
  width: 20;
  float: none;
} */
